JenkinsClient/feed.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/Atom" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="feed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="link">
          <xs:complexType>
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="href" type="xs:string" use="required" />
            <xs:attribute name="rel" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="updated" type="xs:dateTime" />
        <xs:element name="author">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="id" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="entry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string" />
              <xs:element name="link">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="href" type="xs:string" use="required" />
                  <xs:attribute name="rel" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="id" type="xs:string" />
              <xs:element name="published" type="xs:dateTime" />
              <xs:element name="updated" type="xs:dateTime" />
              <xs:element minOccurs="0" name="content" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>